<h1>Usuarios Registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Login</th>
      <th scope="col">Email</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of usuarios">
        <td>{{ item.primerNombre }}</td>
        <td>{{ item.segundoNombre }}</td> 
        <td>{{ item.login }}</td>
        <td>{{ item.email }}</td>
        <td>
          <button type="button" name="editar" (click)='editar(item)' class="btn btn-success btn-sm">editar</button>
          <button type="button" name="eliminar" (click)='delete(item)' class="btn btn-danger btn-sm">eliminar</button>
        </td>
      </tr>
  </tbody>
</table>